body{
    margin-top: 80px;
    margin-inline: 40%;    
}

.form-box{
    background-color: rgb(207, 203, 203);
    /* height: 100%; */
    /* width: 18%; */
    box-shadow: grey;
    border: 2px solid gray;
    padding: 5px;
    align-content: center;
    position: relative;
}

form-box {
    font: 1em sans-serif;
    max-width: 320px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  fieldset {
    width : 100%;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    box-shadow: none;
  }